<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>
<body>
    <!--Cabeçalho ou inicio do meu site-->
    <header style="display: flex;">
        <!--Section foto de perfil-->
        <section>
            <img src="perfil.jfif" alt="Imagem de Perfil" height="100px" width="150px">
        </section>
        <!--section informações pessoais-->
        <section>
            <br> <br> <br>
            &nbsp;&nbsp;&nbsp;
            Daniel Soares | 18 Anos | @daniel.vilanova.7587 |<br>
            &nbsp;&nbsp;&nbsp;&nbsp;daniel48263288@gmail.com | Touro 
        </section>
    </header>
    <!--Navegação da minha página-->
    <nav>
        <!--Tag <a href=""> refere-se ao link de navegação-->
            <hr>
        <a href="MySite.html">Eu Mesmo|</a>
        <a href="Entretenimento.html">Entretenimento|</a>
        <a href="Músicas.html">Músicas|</a>
        <a href="contato.html">Fale comigo</a>
            <hr>
    </nav>
    <form action="#">
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome"> 
        <br><br>
        <label for="email">e-Mail:</label>
        <input type="email" name="email" id="email">
        <br><br>
        <label for="whatsapp">WhatsApp</label>
        <input type="whatsapp" name="whatsapp" id="whatsapp">
        <br><br>
        <label for="data de nascimento">Data de Nascimento</label>
        <input type="data de nascimento" name="data de nascimento" id="data de nascimento">
        <br><br>
        <textarea name="msg"  cols="30" rows="7" placeholder="Digite Sua Mensagem"
            required></textarea>
        <input type="submit" name="Enviar"> 
    </form>
</body>
</html>